/bin/
/sigIRC/
/sigIRC/Emotes/
/backcolor.png
/kill.png
/memory
/sigIRCv2.conf
/swap.png
/update.png
/WSplits
/drag_bar.png
/jinput-dx8.dll
/jinput-dx8_64.dll
/jinput-raw.dll
/jinput-raw_64.dll
/jinput-wintab.dll
/memoryDump.txt
/sessions
/tmp_profile
